In [1]:
import pandas as pd

In [4]:
df = pd. read_excel ('../../raw_data/State_Population_Data_2000_2019.xls', sheet_name='Annual')

In [5]:
df.head()

,observation_date,AKPOP_20210423,ALPOP_20210423,ARPOP_20210423,AZPOP_20210423,CAPOP_20210423,COPOP_20210423,CTPOP_20210423,DEPOP_20210423,FLPOP_20210423,...,SDPOP_20210423,TNPOP_20210423,TXPOP_20210423,UTPOP_20210423,VAPOP_20210423,VTPOP_20210423,WAPOP_20210423,WIPOP_20210423,WVPOP_20210423,WYPOP_20210423
0,1900-01-01,NaN,1830.0,1314.0,124.0,1490.0,543.0,910.0,185.0,530.0,...,403.0,2023.0,3055.0,277.0,1858.0,344.0,523.0,2072.0,959.0,93.0
1,1901-01-01,NaN,1907.0,1341.0,131.0,1550.0,581.0,931.0,187.0,544.0,...,418.0,2041.0,3132.0,284.0,1887.0,347.0,583.0,2109.0,972.0,100.0
2,1902-01-01,NaN,1935.0,1360.0,138.0,1623.0,621.0,952.0,188.0,565.0,...,431.0,2060.0,3210.0,292.0,1894.0,349.0,651.0,2141.0,1000.0,105.0
3,1903-01-01,NaN,1957.0,1384.0,144.0,1702.0,652.0,972.0,190.0,587.0,...,437.0,2082.0,3291.0,299.0,1890.0,350.0,719.0,2171.0,1037.0,108.0
4,1904-01-01,NaN,1978.0,1419.0,151.0,1792.0,659.0,987.0,192.0,599.0,...,452.0,2086.0,3374.0,308.0,1889.0,353.0,782.0,2202.0,1064.0,111.0