In [1]:
import pandas as pd
import numpy as np

In [2]:
# the features by state season csv
features_df = pd.read_csv('../../raw_data/features_by_state_season.csv', low_memory=False)
features_df.drop(columns= ['state_population', 'state_military_bases', 'state_cities'], inplace = True)
# the population by state season csv
population_df = pd.read_csv('../../raw_data/population_by_state_season.csv', low_memory=False)

In [3]:
merged_df = features_df.merge(population_df, on=['state'], how = 'outer')

In [4]:
merged_df

,state,year_season_x,sightings,avg_duration(seconds),sightings_cities,shape,sightings_days,year_season_y,population,year,season
0,mo,1910-winter,1,120.0,1,disk,1,1975-winter,4808.308,1975.0,winter
1,mo,1910-winter,1,120.0,1,disk,1,1976-winter,4839.029,1976.0,winter
2,mo,1910-winter,1,120.0,1,disk,1,1977-winter,4863.173,1977.0,winter
3,mo,1910-winter,1,120.0,1,disk,1,1978-winter,4889.399,1978.0,winter
4,mo,1910-winter,1,120.0,1,disk,1,1979-winter,4912.430,1979.0,winter
...,...,...,...,...,...,...,...,...,...,...,...
355972,dc,2017-spring,1,60.0,1,Circle,1,NaN,NaN,NaN,NaN
355973,dc,2017-winter,1,60.0,1,Unknown,1,NaN,NaN,NaN,NaN
355974,dc,2018-autumn,1,120.0,1,Rectangle,1,NaN,NaN,NaN,NaN
355975,dc,2018-spring,1,300.0,1,Disk,1,NaN,NaN,NaN,NaN
355976,dc,2020-winter,1,1800.0,1,Light,1,NaN,NaN,NaN,NaN

In [5]:
merged_df.to_csv('../../raw_data/merged_df.csv',header=True,index=False)