In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('../../raw_data/State_Population_Data_2000_2019.xls', sheet_name="Sheet1")

In [3]:
data.head()

  observation_date state  population
0       1950-01-01    ak       135.0
1       1950-01-01    al      3058.0
2       1950-01-01    ar      1908.0
3       1950-01-01    az       756.0
4       1950-01-01    ca     10677.0

In [4]:
data['day'] = data['observation_date'].apply(lambda x: x.strftime("%Y-%m-%d"))
data['month'] = data['observation_date'].apply(lambda x: x.strftime("%Y-%m"))
data['month_number'] = data['observation_date'].apply(lambda x: int(x.month))
data['year_number'] = data['observation_date'].apply(lambda x: int(x.year))

In [5]:
seasons = ['winter','winter','spring','spring','spring','summer','summer','summer','autumn','autumn','autumn','winter']
month_to_season = dict(zip(range(1,13), seasons))
data['season'] = data.month_number.map(month_to_season)
data['year_season'] = data['year_number'].astype(str)+'-'+data['season']

In [6]:
data.head()

,observation_date,state,population,day,month,month_number,year_number,season,year_season
0,1950-01-01,ak,135.0,1950-01-01,1950-01,1,1950,winter,1950-winter
1,1950-01-01,al,3058.0,1950-01-01,1950-01,1,1950,winter,1950-winter
2,1950-01-01,ar,1908.0,1950-01-01,1950-01,1,1950,winter,1950-winter
3,1950-01-01,az,756.0,1950-01-01,1950-01,1,1950,winter,1950-winter
4,1950-01-01,ca,10677.0,1950-01-01,1950-01,1,1950,winter,1950-winter

In [7]:
def value_count_func (series_):
    return len(series_.value_counts())

def state_season_df (data_, state_):
    
    data_state = data_[data_['state'] == state_]
    
    data_state_season = data_state.groupby(by='year_season').agg({'population':'first'})
       
    data_state_season['state'] = state_
    
    return data_state_season.reset_index().set_index('state')

In [8]:
STATES_ = list(data.state.unique()) 
x_ = pd.DataFrame()

for st_ in STATES_:
    
    y_ = state_season_df (data, st_)
    x_ = pd.concat([x_,y_])
    
x_ = x_.reset_index()

In [9]:
x_

     state  year_season  population
0       ak  1950-winter     135.000
1       ak  1951-winter     158.000
2       ak  1952-winter     189.000
3       ak  1953-winter     205.000
4       ak  1954-winter     215.000
...    ...          ...         ...
3402    wy  2016-winter     585.243
3403    wy  2017-winter     579.994
3404    wy  2018-winter     579.054
3405    wy  2019-winter     580.116
3406    wy  2020-winter     582.328

[3407 rows x 3 columns]

In [10]:
x_.to_csv('../../raw_data/population_by_state_season.csv',header=True,index=False)