In [1]:
import pandas as pd
import numpy as np

In [2]:
# the features by state season csv
features_df = pd.read_csv('../../raw_data/features_by_state_season.csv', low_memory=False)
features_df.drop(columns= ['state_population', 'state_military_bases', 'state_cities'], inplace = True)
# the population by state season csv
population_df = pd.read_csv('../../raw_data/population_by_state_season.csv', low_memory=False)

In [3]:
features_df[['year', 'season']] = features_df['year_season'].str.split('-',expand=True)
features_df = features_df[features_df['year']>'1974']

# merge the 2 dataframes
merged_df = features_df.merge(population_df, how='outer', left_on=["state", 'year_season'], right_on=['state',"year_season"])

In [4]:
merged_df

,state,year_season,sightings,avg_duration(seconds),sightings_cities,shape,sightings_days,year_x,season_x,population,year_y,season_y
0,mo,1975-autumn,1.0,60.0,1.0,disk,1.0,1975,autumn,4808.308,1975.0,autumn
1,mo,1975-summer,2.0,690.0,2.0,circle,2.0,1975,summer,4808.308,1975.0,summer
2,mo,1976-summer,4.0,44115.0,4.0,light,2.0,1976,summer,4839.029,1976.0,summer
3,mo,1977-autumn,1.0,180.0,1.0,unknown,1.0,1977,autumn,4863.173,1977.0,autumn
4,mo,1977-spring,2.0,75.0,2.0,other,2.0,1977,spring,4863.173,1977.0,spring
...,...,...,...,...,...,...,...,...,...,...,...,...
9197,wy,2007-spring,NaN,NaN,NaN,NaN,NaN,NaN,NaN,534.876,2007.0,spring
9198,wy,2009-winter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,559.851,2009.0,winter
9199,wy,2009-spring,NaN,NaN,NaN,NaN,NaN,NaN,NaN,559.851,2009.0,spring
9200,wy,2014-spring,NaN,NaN,NaN,NaN,NaN,NaN,NaN,583.159,2014.0,spring
9201,wy,2017-spring,NaN,NaN,NaN,NaN,NaN,NaN,NaN,579.994,2017.0,spring

In [7]:
merged_df.dropna(axis=0, how='any', inplace = True)

In [8]:
merged_df

,state,year_season,sightings,avg_duration(seconds),sightings_cities,shape,sightings_days,year_x,season_x,population,year_y,season_y
0,mo,1975-autumn,1.0,60.000000,1.0,disk,1.0,1975,autumn,4808.308,1975.0,autumn
1,mo,1975-summer,2.0,690.000000,2.0,circle,2.0,1975,summer,4808.308,1975.0,summer
2,mo,1976-summer,4.0,44115.000000,4.0,light,2.0,1976,summer,4839.029,1976.0,summer
3,mo,1977-autumn,1.0,180.000000,1.0,unknown,1.0,1977,autumn,4863.173,1977.0,autumn
4,mo,1977-spring,2.0,75.000000,2.0,other,2.0,1977,spring,4863.173,1977.0,spring
...,...,...,...,...,...,...,...,...,...,...,...,...
6744,hi,2019-winter,7.0,788.571429,4.0,Light,6.0,2019,winter,1415.615,2019.0,winter
6745,hi,2020-autumn,8.0,1507.500000,8.0,Triangle,3.0,2020,autumn,1407.006,2020.0,autumn
6746,hi,2020-spring,9.0,953.333333,7.0,Circle,9.0,2020,spring,1407.006,2020.0,spring
6747,hi,2020-summer,9.0,200.000000,5.0,Circle,9.0,2020,summer,1407.006,2020.0,summer
6748,hi,2020-winter,12.0,925.000000,9.0,Light,9.0,2020,winter,1407.006,2020.0,winter

In [5]:
#merged_df.to_csv('../../raw_data/merged_df.csv',header=True,index=False)