# FEATURE ENGINEERING: Military bases

In [1]:
from datetime import timedelta
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
scrubbed_data = pd.read_csv('../raw_data/scrubbed.csv', low_memory=False)

## License conditions to use uscities.csv ('../raw_data/license.txt') 

#### Free US Cities Database: The Provider offers a free version of the US Cities Database. This Database is offered free of charge conditional on a link back to https://simplemaps.com/data/us-cities. This backlink must come from a public webpage where the Customer is using the data. If the Customer uses the data internally, the backlink must be placed on the organization's website on a page that can be easily found though links on the root domain. The link must be clearly visible to the human eye. The backlink must be placed before the Customer uses the Database in production.

In [3]:
uscities_data = pd.read_csv('../raw_data/uscities.csv'); uscities_data.shape

(28338, 17)

In [4]:
military_data = uscities_data[uscities_data['military'] == True ]; military_data.shape

(85, 17)

#### Fields' description >> https://simplemaps.com/data/us-cities

In [6]:
military_data.head()

,city,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
1880,Edgewood,Edgewood,MD,Maryland,24025,Harford,39.4210,-76.2968,25574,555,polygon,True,True,America/New_York,3,21009 21010 21040,1840005661
2066,Fort Hood,Fort Hood,TX,Texas,48027,Bell,31.1345,-97.7797,23508,579,polygon,True,True,America/Chicago,3,76544,1840073932
2458,Schofield Barracks,Schofield Barracks,HI,Hawaii,15003,Honolulu,21.4936,-158.0617,19499,2716,polygon,True,True,Pacific/Honolulu,2,96857 96786,1840075052
2891,Fort Leonard Wood,Fort Leonard Wood,MO,Missouri,29169,Pulaski,37.7562,-92.1274,16026,268,polygon,True,True,America/Chicago,3,65473,1840073756
3040,Fort Carson,Fort Carson,CO,Colorado,8041,El Paso,38.7403,-104.7840,14951,672,polygon,True,True,America/Denver,3,80902 80913,1840028557